<select id="beerSelect">
	<option value="beer1_1">Beer 1</option>
	<option value="beer1_2">Beer 2</option>
	<option value="beer1_3">Beer 3</option>
	<option value="beer1_4">Beer 4</option>
	<option value="beer1_5">Beer 5</option>
	<option value="beer2_1">Beer 6</option>
	<option value="beer2_2">Beer 7</option>
	<option value="beer2_3">Beer 8</option>
	<option value="beer2_4">Beer 9</option>
	<option value="beer2_5">Beer 10</option>
	<option value="beer3_1">Beer 11</option>
	<option value="beer3_2">Beer 12</option>
	<option value="beer3_3">Beer 13</option>
	<option value="beer3_4">Beer 14</option>
	<option value="beer3_5">Beer 15</option>
</select>

<div id="beer1_1">
	<%= f.label "Beer 1 Name", class: ''%>
	<%= f.text_field :beer1_1, class: ''%>

	<%= f.label "Beer 1 Price", class: ''%>
	<%= f.text_field :beer1_1_price, class: ''%>

	<%= f.label "Beer 1 Description", class: ''%>
	<%= f.text_area :beer1_1Desc, class: ''%>
</div>
<div id="beer1_2" style="display: none">
	<%= f.label "Beer 2 Name", class: ''%>
	<%= f.text_field :beer1_2, class: ''%>

	<%= f.label "Beer 2 Price", class: ''%>
	<%= f.text_field :beer1_2_price, class: ''%>

	<%= f.label "Beer 2 Description", class: ''%>
	<%= f.text_area :beer1_2Desc, class: ''%>
</div>

<div id="beer1_3" style="display: none">
	<%= f.label "Beer 3 Name", class: ''%>
	<%= f.text_field :beer1_3, class: ''%>

	<%= f.label "Beer 3 Price", class: ''%>
	<%= f.text_field :beer1_3_price, class: ''%>

	<%= f.label "Beer 3 Description", class: ''%>
	<%= f.text_area :beer1_3Desc, class: ''%>
</div>

<div id="beer1_4" style="display: none">
	<%= f.label "Beer 4 Name", class: ''%>
	<%= f.text_field :beer1_4, class: ''%>

	<%= f.label "Beer 4 Price", class: ''%>
	<%= f.text_field :beer1_4_price, class: ''%>

	<%= f.label "Beer 4 Description", class: ''%>
	<%= f.text_area :beer1_4Desc, class: ''%>
</div>

<div id="beer1_5" style="display: none">
	<%= f.label "Beer 5 Name", class: ''%>
	<%= f.text_field :beer1_5, class: ''%>

	<%= f.label "Beer 5 Price", class: ''%>
	<%= f.text_field :beer1_5_price, class: ''%>

	<%= f.label "Beer 5 Description", class: ''%>
	<%= f.text_area :beer1_5Desc, class: ''%>
</div>

<div id="beer2_1" style="display: none">
	<%= f.label "Beer 6 Name", class: ''%>
	<%= f.text_field :beer2_1, class: ''%>

	<%= f.label "Beer 6 Price", class: ''%>
	<%= f.text_field :beer2_1_price, class: ''%>

	<%= f.label "Beer 6 Description", class: ''%>
	<%= f.text_area :beer2_1Desc, class: ''%>
</div>

<div id="beer2_2" style="display: none">
	<%= f.label "Beer 7 Name", class: ''%>
	<%= f.text_field :beer2_2, class: ''%>

	<%= f.label "Beer 7 Price", class: ''%>
	<%= f.text_field :beer2_2_price, class: ''%>

	<%= f.label "Beer 7 Description", class: ''%>
	<%= f.text_area :beer2_2Desc, class: ''%>
</div>

<div id="beer2_3" style="display: none">
	<%= f.label "Beer 8 Name", class: ''%>
	<%= f.text_field :beer2_3, class: ''%>

	<%= f.label "Beer 8 Price", class: ''%>
	<%= f.text_field :beer2_3_price, class: ''%>

	<%= f.label "Beer 8 Description", class: ''%>
	<%= f.text_area :beer2_3Desc, class: ''%>
</div>

<div id="beer2_4" style="display: none">
	<%= f.label "Beer 9 Name", class: ''%>
	<%= f.text_field :beer2_4, class: ''%>

	<%= f.label "Beer 9 Price", class: ''%>
	<%= f.text_field :beer2_4_price, class: ''%>

	<%= f.label "Beer 9 Description", class: ''%>
	<%= f.text_area :beer2_4Desc, class: ''%>
</div>

<div id="beer2_5" style="display: none">
	<%= f.label "Beer 10 Name", class: ''%>
	<%= f.text_field :beer2_5, class: ''%>

	<%= f.label "Beer 10 Price", class: ''%>
	<%= f.text_field :beer2_5_price, class: ''%>

	<%= f.label "Beer 10 Description", class: ''%>
	<%= f.text_area :beer2_5Desc, class: ''%>
</div>

<div id="beer3_1" style="display: none">
	<%= f.label "Beer 11 Name", class: ''%>
	<%= f.text_field :beer3_1, class: ''%>

	<%= f.label "Beer 11 Price", class: ''%>
	<%= f.text_field :beer3_1_price, class: ''%>

	<%= f.label "Beer 11 Description", class: ''%>
	<%= f.text_area :beer3_1Desc, class: ''%>
</div>

<div id="beer3_2" style="display: none">
	<%= f.label "Beer 12 Name", class: ''%>
	<%= f.text_field :beer3_2, class: ''%>

	<%= f.label "Beer 12 Price", class: ''%>
	<%= f.text_field :beer3_2_price, class: ''%>

	<%= f.label "Beer 12 Description", class: ''%>
	<%= f.text_area :beer3_2Desc, class: ''%>
</div>

<div id="beer3_3" style="display: none">
	<%= f.label "Beer 13 Name", class: ''%>
	<%= f.text_field :beer3_3, class: ''%>

	<%= f.label "Beer 13 Price", class: ''%>
	<%= f.text_field :beer3_3_price, class: ''%>

	<%= f.label "Beer 13 Description", class: ''%>
	<%= f.text_area :beer3_3Desc, class: ''%>
</div>

<div id="beer3_4" style="display: none">
	<%= f.label "Beer 14 Name", class: ''%>
	<%= f.text_field :beer3_4, class: ''%>

	<%= f.label "Beer 14 Price", class: ''%>
	<%= f.text_field :beer3_4_price, class: ''%>

	<%= f.label "Beer 14 Description", class: ''%>
	<%= f.text_area :beer3_4Desc, class: ''%>
</div>

<div id="beer3_5" style="display: none">
	<%= f.label "Beer 15 Name", class: ''%>
	<%= f.text_field :beer3_5, class: ''%>

	<%= f.label "Beer 15 Price", class: ''%>
	<%= f.text_field :beer3_5_price, class: ''%>

	<%= f.label "Beer 15 Description", class: ''%>
	<%= f.text_area :beer3_5Desc, class: ''%>
</div>
