<select id="foodSelect">
	<option id="food1">Food 1</option>
	<option id="food2">Food 2</option>
	<option id="food3">Food 3</option>
	<option id="food4">Food 4</option>
	<option id="food5">Food 5</option>
</select>

<div id="food1">
	<%= f.label "Food 1 Name", class: ''%>
	<%= f.text_field :food1, class: ''%>

	<%= f.label "Food 1 Price", class: ''%>
	<%= f.text_field :food1_price, class: ''%>

	<%= f.label "Food 1 Description", class: ''%>
	<%= f.text_area :food1Desc, class: ''%>
</div>

<div id="food2" style="display: none">
	<%= f.label "Food 2 Name", class: ''%>
	<%= f.text_field :food2, class: ''%>

	<%= f.label "Food 2 Price", class: ''%>
	<%= f.text_field :food2_price, class: ''%>

	<%= f.label "Food 2 Description", class: ''%>
	<%= f.text_area :food2Desc, class: ''%>
</div>

<div id="food3" style="display: none">
	<%= f.label "Food 3 Name", class: ''%>
	<%= f.text_field :food3, class: ''%>

	<%= f.label "Food 3 Price", class: ''%>
	<%= f.text_field :food3_price, class: ''%>

	<%= f.label "Food 3 Description", class: ''%>
	<%= f.text_area :food3Desc, class: ''%>
</div>

<div id="food4" style="display: none">
	<%= f.label "Food 4 Name", class: ''%>
	<%= f.text_field :food4, class: ''%>

	<%= f.label "Food 4 Price", class: ''%>
	<%= f.text_field :food4_price, class: ''%>

	<%= f.label "Food 4 Description", class: ''%>
	<%= f.text_area :food4Desc, class: ''%>
</div>

<div id="food5" style="display: none">
	<%= f.label "Food 5 Name", class: ''%>
	<%= f.text_field :food5, class: ''%>

	<%= f.label "Food 5 Price", class: ''%>
	<%= f.text_field :food5_price, class: ''%>

	<%= f.label "Food 5 Description", class: ''%>
	<%= f.text_area :food5Desc, class: ''%>
</div>
