<select id="wineSelect">
	<option value="wine1_1">Wine 1</option>
	<option value="wine1_2">Wine 2</option>
	<option value="wine1_3">Wine 3</option>
	<option value="wine1_4">Wine 4</option>
	<option value="wine1_5">Wine 5</option>
	<option value="wine2_1">Wine 6</option>
	<option value="wine2_2">Wine 7</option>
	<option value="wine2_3">Wine 8</option>
	<option value="wine2_4">Wine 9</option>
	<option value="wine2_5">Wine 10</option>
	<option value="wine3_1">Wine 11</option>
	<option value="wine3_2">Wine 12</option>
	<option value="wine3_3">Wine 13</option>
	<option value="wine3_4">Wine 14</option>
	<option value="wine3_5">Wine 15</option>
</select>

<div id="wine1_1">
	<%= f.label "Wine 1 Name", class: ''%>
	<%= f.text_field :wine1_1, class: ''%>

	<%= f.label "Wine 1 Description", class: ''%>
	<%= f.text_area :wine1_1Desc, class: ''%>
</div>
<div id="wine1_2" style="display: none">
	<%= f.label "Wine 2 Name", class: ''%>
	<%= f.text_field :wine1_2, class: ''%>

	<%= f.label "Wine 2 Description", class: ''%>
	<%= f.text_area :wine1_2Desc, class: ''%>
</div>

<div id="wine1_3" style="display: none">
	<%= f.label "Wine 3 Name", class: ''%>
	<%= f.text_field :wine1_3, class: ''%>

	<%= f.label "Wine 3 Description", class: ''%>
	<%= f.text_area :wine1_3Desc, class: ''%>
</div>

<div id="wine1_4" style="display: none">
	<%= f.label "Wine 4 Name", class: ''%>
	<%= f.text_field :wine1_4, class: ''%>

	<%= f.label "Wine 4 Description", class: ''%>
	<%= f.text_area :wine1_4Desc, class: ''%>
</div>

<div id="wine1_5" style="display: none">
	<%= f.label "Wine 5 Name", class: ''%>
	<%= f.text_field :wine1_5, class: ''%>

	<%= f.label "Wine 5 Description", class: ''%>
	<%= f.text_area :wine1_5Desc, class: ''%>
</div>

<div id="wine2_1" style="display: none">
	<%= f.label "Wine 6 Name", class: ''%>
	<%= f.text_field :wine2_1, class: ''%>

	<%= f.label "Wine 6 Description", class: ''%>
	<%= f.text_area :wine2_1Desc, class: ''%>
</div>

<div id="wine2_2" style="display: none">
	<%= f.label "Wine 7 Name", class: ''%>
	<%= f.text_field :wine2_2, class: ''%>

	<%= f.label "Wine 7 Description", class: ''%>
	<%= f.text_area :wine2_2Desc, class: ''%>
</div>

<div id="wine2_3" style="display: none">
	<%= f.label "Wine 8 Name", class: ''%>
	<%= f.text_field :wine2_3, class: ''%>

	<%= f.label "Wine 8 Description", class: ''%>
	<%= f.text_area :wine2_3Desc, class: ''%>
</div>

<div id="wine2_4" style="display: none">
	<%= f.label "Wine 9 Name", class: ''%>
	<%= f.text_field :wine2_4, class: ''%>

	<%= f.label "Wine 9 Description", class: ''%>
	<%= f.text_area :wine2_4Desc, class: ''%>
</div>

<div id="wine2_5" style="display: none">
	<%= f.label "Wine 10 Name", class: ''%>
	<%= f.text_field :wine2_5, class: ''%>

	<%= f.label "Wine 10 Description", class: ''%>
	<%= f.text_area :wine2_5Desc, class: ''%>
</div>

<div id="wine3_1" style="display: none">
	<%= f.label "Wine 11 Name", class: ''%>
	<%= f.text_field :wine3_1, class: ''%>

	<%= f.label "Wine 11 Description", class: ''%>
	<%= f.text_area :wine3_1Desc, class: ''%>
</div>

<div id="wine3_2" style="display: none">
	<%= f.label "Wine 12 Name", class: ''%>
	<%= f.text_field :wine3_2, class: ''%>

	<%= f.label "Wine 12 Description", class: ''%>
	<%= f.text_area :wine3_2Desc, class: ''%>
</div>

<div id="wine3_3" style="display: none">
	<%= f.label "Wine 13 Name", class: ''%>
	<%= f.text_field :wine3_3, class: ''%>

	<%= f.label "Wine 13 Description", class: ''%>
	<%= f.text_area :wine3_3Desc, class: ''%>
</div>

<div id="wine3_4" style="display: none">
	<%= f.label "Wine 14 Name", class: ''%>
	<%= f.text_field :wine3_4, class: ''%>

	<%= f.label "Wine 14 Description", class: ''%>
	<%= f.text_area :wine3_4Desc, class: ''%>
</div>

<div id="wine3_5" style="display: none">
	<%= f.label "Wine 15 Name", class: ''%>
	<%= f.text_field :wine3_5, class: ''%>

	<%= f.label "Wine 15 Description", class: ''%>
	<%= f.text_area :wine3_5Desc, class: ''%>
</div>
