<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
		<script src="/club_static/menus.js"></script>
		<!-- Latest compiled and minified CSS -->
		<!-- Optional theme -->
		<!-- Latest compiled and minified JavaScript -->
		<title>The Club</title>
  </head>

	<header style="padding-bottom: 5%">
		<nav>
			<div class="nav-wrapper">
				<ul id="nav-mobile" class="left hide-on-med-and-down">
					<li><%= link_to "Events", "/events" %></li>
					<li><%= link_to "Home", "/homes/1/edit" %></li>
					<li><%= link_to "About", "/abouts/1/edit" %></li>
					<li><%= link_to "Menu", "/menus/1/edit" %></li>
				</ul>
			</div>
		</nav>
	</header>

  <body>
    <%= yield %>
  </body>

</html>
